<!DOCTYPE html>
<html lang="en">
<head>
<title>Rajanna, Swathi</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Marck+Script|Monoton|Righteous|Slabo+27px" rel="stylesheet"> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
#content {
  position: relative;
}
#content img {
  position: absolute;
  top: 0px;
  right: 0px;
}
.img-circle {
border-radius: 50%;
}

#wrapper {
padding-left: 250px;
transition: all 0.4s ease 0s;
}

.parent-container {
      position: relative;
      height:100%;
      width: 100%;
  }

  .child-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  tr.sp>td {
  padding-bottom: 1em;
}

#sidebar-wrapper {
margin-left: -200px;
left: 250px;
width: 250px;
position: fixed;
height: 100%;
overflow-y: auto;
z-index: 1000;
transition: all 0.4s ease 0s;
}

#page-content-wrapper {
width: 100%;
}

.sidebar-nav {
position: absolute;
top: 0;
width: 250px;
list-style: none;
margin: 0;
padding: 0;
}

.view {
  height: 100%;
}

.view {
  background: url('/assets/1.jpg');no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@media (max-width:767px) {

  #wrapper {
    padding-left: 0;
  }
</style>

</head>
<body>

<div class="container-fluid">
<table class='table borderless'>
<tr>
<td>
  <h1>Swathi Rajanna</h1>      
  <p><i>Second Year Computer and Information Science MSE student at University of Pennsylvania</i></p> 
</td>
<td><div id="content">
  <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAo7AAAAJDRlMTM5Y2JjLTEyYmQtNDMwYS05YjlkLTkwN2QyMmMyZDc2Zg.jpg"  style="width:100px;height:100px;" class="img-circle ribbon"/>
    </div> 
</td>
</tr>
</table>
</div>
<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#0">Skills</a></li>
    <li><a href="#1">Professional Experience</a></li>
    <li><a href="#2">Academic Projects</a></li>
    <li><a href="#3">Academic Achievements</a></li>
    <li><a href="#4">Education and Test Scores</a></li>
    <li><a href="#5">Publications</a></li>
    <li><a href="#6">Extra Curricular Achievements</a></li>
  </ul>
</div>
</nav>


<div id="wrapper">
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
</br>
</br>
     <li class="sidebar-brand"></li>
</br>

    <li><a href="https://drive.google.com/file/d/0B-XcLtdSiJXiVHhHa3owSlJ5MGs/view?usp=sharing" class="btn btn-social-icon btn-linkedin" target="_blank" >
  <span class="fa fa-file" style="font-size:35px; color:Black"></span></a></li>
</br>
          <li><a href="https://github.com/swathir"  class="btn btn-social-icon btn-github" target="_blank" >
  <span class="fa fa-github" style="font-size:40px; color:Black"></span>
</a></li>
</br>
          <li><a href="https://in.linkedin.com/in/swathi-rajanna-1634b998"  class="btn btn-social-icon btn-linkedin" target="_blank" >
  <span class="fa fa-linkedin" style="font-size:35px; color:Black"></span>
</a></li>
</br><p></p>
          <li><a href="mailto:swathirbombay@gmail.com?Subject=Website%20Mail" class="btn btn-social-icon btn-linkedin" target="_blank" >
  <span class="fa fa-envelope" style="font-size:35px; color:Black"></span>
</a></li>

      </ul>
  </div>
  <div id="page-content-wrapper">
      <div class="page-content">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">

		   
<div class="container-fluid bg-2 text-center">

<h2 style="font-family: 'Slabo 27px', serif;">About Me</h2></div>
<p style="text-align:center;width: 70%;margin: 0 auto;font-size: 130%;">
I'm interested in Natural Language Processing and Data Science.</br> I'm currently pursuing a <b>Master of Science and Engineering</b> in <b>Computers and Information Science</b> at University of Pennsylvania School of Engineering and Applied Science.</br> I have a Bachelor of Technology degree in Information Technology from National Institute of Technology Karnataka, Surathkal, India.</br>My Resume can be found <a href="https://drive.google.com/file/d/0B-XcLtdSiJXiVHhHa3owSlJ5MGs/view?usp=sharing"  target="_blank" >here</a>.
</p>


<a id="0"></a>
<hr/>
<div class="container-fluid bg-2 text-center">
<h2 style="font-family: 'Slabo 27px', serif;">Skills</h2></div>
<table style="text-align:center;width: 80%;margin: 0 auto;font-size: 150%;">
  <tr class="sp">
    <td>
    <i class="fa fa-code" aria-hidden="true"></i>
    <b>Programming Languages</b></br>
    Java, Python, C, C++, C#, JavaScript, Matlab, R
    </td>
    <td>
    <i class="fa fa-globe" aria-hidden="true"></i>
    <b>Web Technologies</b></br>
    HTML, CSS, Bootstrap, Django, Ruby on Rails, Node.js, PHP, AngularJS, EJS, XML
    </td>
  </tr>
  <tr class="sp">
    <td>
    <i class="fa fa-database" aria-hidden="true"></i>
    <b>DataBases</b></br>
    MySQL, PL/SQL, MongoDB, SAP Hana, Oracle, HDFS
    </td>
    <td>
    <i class="fa fa-area-chart" aria-hidden="true"></i>
    <b>Data Science</b></br>
    Apache Hadoop, Apache Spark, Scikit-learn, NLTK, Stanford CoreNLP, SRI-LM
    </td>
  </tr>
  <tr class="sp">
    <td>
    <i class="fa fa-tasks" aria-hidden="true"></i>
    <b>Tools</b></br>
    Git, AWS Elastic MapReduce, Informatica Powercenter, Microsoft Visual Studio, OpenGL
    </td>
    <td>
    <i class="fa fa-desktop" aria-hidden="true"></i>
    <b>Operating Systems</b></br>
    Linux, Microsoft Windows, iOS
    </td>
  </tr>
</table>

<a id="1"></a>
<hr/>
<div class="container-fluid bg-2 text-center">
<h2 style="font-family: 'Slabo 27px', serif;">Professional Experience</h2></div>
<p>
<div class="panel-group" id="accordion"  style="width: 80%;margin: 0 auto;font-size: 120%; text-align:center;">
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#coll1">
      <b>SAP​ ​ Ariba,​ Palo​ Alto,​​ CA - iXp intern</b></a>
    </h4>
  </div>
  <div id="coll1" class="panel-collapse collapse"><i>June 2017 to August 2017</i></br> 
    <div class="panel-body" style="text-align: left;">

Improve the categorization of Products using NLP for a cloud based Procurement Software by performing phrasal similarity matching.<br>
-Features of word phrases such as similarity average, Information Content, Word Sense, Part of Speech used to give a score to each phrase.<br>
-Threshold specified based on requirement(absolute matching/suggestion) to classify similarity.<br>
-Two models(Google 3 million dataset and Item Description) used in Word2Vec to generate word vectors.<br>
-Stanford CoreNLP dependency parser used for extracting value for matched keyword from item description.<br>
-Web​ server​​ using​ Flask​​ Python​ to​​ host​ ​API.
</div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#coll2">
      <b>Fidelity Investments, Bangalore, India — Summer Intern</b></a>
    </h4>
  </div>
  <div id="coll2" class="panel-collapse collapse"><i>May 2015 to July 2015</i></br>
    <div class="panel-body" style="text-align: left;">Worked on a web based data dictionary for building and linking business glossary with technical terms across databases.<br>
-Load all the databases with a term as column onto Informatica Meta data Manager to display the Data Lineage (upstream and downstream).<br>
-Linked technical terms to Business glossary using coded rules.<br>
-Generated Custom models for flat files (extracted web pages) on Informatica PowerCenter.<br>
-Helped in generating effort and suggesting alternate paths.<br>
-Created a JavaScript web page on Spring to display results.<br>
-Also helped in building updated UI in XML and XSD while moving product from older server.</div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#coll3">
      <b>Storyboard, Bangalore, India — Backend Web Developer Intern</b></a>
    </h4>
  </div>
  <div id="coll3" class="panel-collapse collapse"><i>July 2014 to September 2014</i></br>
    <div class="panel-body" style="text-align: left;">
Social Networking Website with varied views for each User.<br>
-Responsible for the back-end including login, sign up and profile views.<br>
-Build using Python on Django framework.<br>
-Hosted on AWS server.</div>
  </div>
</div>
<br/>
</div> 
</p>
</div>

<a id="2"></a>
<hr/>
<div class="container-fluid bg-2 text-center">
<h2 style="font-family: 'Slabo 27px', serif;">Academic Projects</h2></div>
<p>
<div class="panel-group" id="accordion"  style="width: 80%;margin: 0 auto;font-size: 120%;text-align:center;">
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
      <b>Search Engine</b></a>
    </h4>
  </div>
  <div id="collapse1" class="panel-collapse collapse"><i>Feb 2017 – Apr 2017</i></br>
    <div class="panel-body" style="text-align:left;">
    A Cloud based Search Engine with loosely coupled components including PageRank and Indexer and a Search Engine build using Java that displays ranked results out of 1 million previously crawled pages.</br></br>

    -Crawler: A distributed Crawler build using Apache Storm utilizing EC2 instances for nodes and Oracle BerkeleyDB for storage.
    -Data: Famous websites of main fields of interest such as News, Education, Sports were crawled till there were close to a million pages. BerkeleyDB was used to store the data with Url as key and the content as value.</br></br>

    -Page Rank: 3 map reduce jobs to calculate a page rank score for each of the 1 mil. pages. Amazon Elastic Map Reduce was used with each url as key and an initial value of 1 and run for a certain number of iterations until the values stopped varying, while accounting for dangling links.</br></br>

    -Indexer: An hadoop MapReduce code was executed on Amazon EMR using S3 for storage, to generate inverted indices along with their TF-IDF values. There were 54 million terms in total comprising of Bigrams and Unigrams each associated with a JSON object containing information regarding which tag and url it occurred in. Stanford CoreNLP was used to Lemmatize and stem terms.</br></br>

    -Search: The search engine ranking was done with a weighted linear combination of search metrics : tf, idf, pagerank, occurred in url/title/anchor/header tags. Previous Search results were cached for faster retrieval.</br></br>

    -UI: Build using simple html and bootstrap implemented over a Java servlet. External APIs including eBay and Twitter were also integrated. The UI included pagination, weather based on location and search result times. </br>
    <a href="https://drive.google.com/drive/folders/0B-XcLtdSiJXieU9MRFlQYWd4Vk0?usp=sharing"  target="_blank" >See Project</a></div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
      <b>Prediction of difficulty of text</b></a>
    </h4>
  </div>
  <div id="collapse2" class="panel-collapse collapse"><i>Apr 2017 – May 2017</i></br>
    <div class="panel-body" style="text-align: left;">
The project was to predict the difficulty of a text as a real value score using supervised learning with focus on feature engineering, that is to come up with features that help predict the relative difficulties of different texts.</br>
-Features such as perplexity score, flesch-kincaid, fraction of nouns, unique words etc were extracted to evaluate a score. The code was written in Python.</br>
-The features were used to train the system on Random Forest Regressor.</br>
-The system was evaluated using spearman correlation between the gold standard scores and the difficulty scores produced where the gold standard was the “perceived difficulty score” assigned by human annotators.</div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
      <b>Automatic Document Summarizer</b></a>
    </h4>
  </div>
  <div id="collapse3" class="panel-collapse collapse"><i>Mar 2017 – Apr 2017</i><br>
    <div class="panel-body" style="text-align: left;">
    The focus of this project was to implement a multi-document summarization of news, based on KL-divergence between the distribution of words in the summary and the input.<br>
-Used synsets to find words that characterize the topic of a document according to a log-likelihood ratio test, which works better than tf.idf scores for summarization.<br>
-We also wrote our own automatic multi-document summarizer and compared it with the LexPageRank summarizer.</div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
      <b>MapReduce and Storm application.</b></a>
    </h4>
  </div>
  <div id="collapse4" class="panel-collapse collapse"><i>Apr 2017 – Apr 2017</i><br>
    <div class="panel-body" style="text-align: left;">Extend StormLite to a distributed framework, which essentially emulates Apache Storm and can be used to run Map Reduce Jobs.
-User interface to define and submit jobs along with input and output folder. Implemented as a Master servlet coded in Java.<br>
-Master coordinates and assigns jobs to worker nodes and also worker status (number of bytes read, status of running) using HTTP requests.<br>
-Tested with simple word count job to get input from multiple files and write into one output file.</div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
      <b>Music Recommendation System.</b></a>
    </h4>
  </div>
  <div id="collapse5" class="panel-collapse collapse"><i>Feb 2017 – Apr 2017</i><br>
    <div class="panel-body" style="text-align: left;">A web application which provides a platform for users to maintain playlists and favourite artists/songs while also dynamically recommending songs based on preferences of other users with similar interests.<br>
-The web application was build using MEAN stack, using Express over NodeJS for the backend and EJS with bootstrap for the User Interface.<br>
-Data for the system was stored using both Relational and NoSQL Database, using MySQL hosted on AWS RDS for the former and MongoDB hosted on MLab.<br>
-The server was deployed on Amazon EC2.</div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
      <b>Web Crawler and Xpath Engine.</b></a>
    </h4>
  </div>
  <div id="collapse6" class="panel-collapse collapse"><i>Feb 2017 – Mar 2017</i><br>
    <div class="panel-body" style="text-align: left;">An implementation of a topic specific Web crawler both as a Java application as well as using Stormlite for distributed crawling build atop an Implementation of Thread Based HTTP application Server.<br>
-XPath evaluation engine build using implementation of recursive descent parser (DOM model).<br>
-Users could log in and subscribe to various channels using an XPath expression.<br>
-Crawled documents are stored in BerkelyDB and displayed when matched with a particular channel.</div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
      <b>Authorship Attribution</b></a>
    </h4>
  </div>
  <div id="collapse7" class="panel-collapse collapse"><i>Jan 2017 – Feb 2017</i><br>
    <div class="panel-body" style="text-align: left;">Given a piece of writing, A system was built to determine whether Gina Kolata is the author using a supervised binary classifier to make predictions.<br>
-The focus was on feature engineering, that is representing the text as a feature vector of numeric descriptions of the input.<br>
-We used Brown Cluster identities of words as features for a given text and carried out Support Vector Machine Classification using sklearn.</div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
      <b>Web and Application Server</b></a>
    </h4>
  </div>
  <div id="collapse8" class="panel-collapse collapse"><i>Feb 2017 – Feb 2017</i><br>
    <div class="panel-body" style="text-align: left;">Implementation of an application server i.e. a Web(HTTP) server that runs Java servlets.<br>
-A simple multi threaded HTTP server build for static content which is HTTP/1.1 compliant with appropriate error handling.<br>
-A servlet engine that is hosted atop the web server and invokes servlet code.</div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
      <b>RotMeNot</b></a>
    </h4>
  </div>
  <div id="collapse9" class="panel-collapse collapse"><i>Sep 2016 – Sep 2016</i><br>
    <div class="panel-body" style="text-align: left;">A software solution built on Ionic, runs seamlessly on all platforms, provides the user a real time inventory status of all the food item in his/her personal space using optical character recognition. The system provide alerts of food items with approaching expiration dates and provide an option to either consume the food item by or donate it.<br>
- Server built using python and hosted on Digital Ocean.<br>
- UI/UX Built on Ionic platform, which is built on top of Apache Cordova and Angular.js.<br>
- Optical character recognition using Cloud Vision API with a custom parser to extract data from receipts.<br>
- Locations of nearby food is populated on maps using the Google Maps API.<br>
<a href="https://devpost.com/software/rotmenot"  target="_blank" >See Project</a></div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
      <b>Undergraduate Thesis - Context aware user Personalized Search Framework over multi dimensional social media data.</b></a>
    </h4>
  </div>
  <div id="collapse10" class="panel-collapse collapse"><i>Jul 2015 – May 2016 </i></br>
    <div class="panel-body" style="text-align: left;">An Implementation of personalized fine-grained Web application framework where search results catered to a user based on his previous preferences and tastes that were extracted and evaluated based on his comments on other social media websites.<br>
- Website built on Python Django, NLTK toolkit and Word2Vec for Language Processsing.<br>
- Data (user's reviews, comments) extracted from Zomato, Foursquare and Youtube using Standard APIs.<br>
- Main approaches considered for Sentiment Analysis - Rule Based, Aspect Based and Machine Learning Based.<br>
-Naive Bayes, SVM with gaussian kernel and linear kernel, Maximum Entropy and Random Forest compared to evaluate best technique for the system.<br>
- Personalized and ranked suggestions using a weighted approach was used to obtain top results.<br><a href="https://drive.google.com/drive/folders/0B-XcLtdSiJXiUk56WkZPVldKYUE?usp=sharing"  target="_blank" >See Project</a><br>
<a href="#6" >Published Paper</a></div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
      <b>Clustering WSDL Documents to Bootstrap the Discovery of Web Services</b></a>
    </h4>
  </div>
  <div id="collapse12" class="panel-collapse collapse"><i>Jan 2015 – May 2015</i></br>
    <div class="panel-body">Implementation of a system that uses five key features - WSDL content, WSDL types, WSDL messages, WSDL ports and the Web service name, extracted from WSDL documents in order to group Web services into functionality-based clusters and then demonstrating that the approach outperforms other approaches.</div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">
      <b>Kannada Transliterator and OCR</b></a>
    </h4>
  </div>
  <div id="collapse13" class="panel-collapse collapse"><i>Jan 2015 – May 2015</i></br>
    <div class="panel-body" style="text-align: left;">Implementation of an effective framework for transliteration from Kannada to English, to assist people who understand Kannada but lack the knowledge of its script. The framework supports transliteration of scanned Kannada documents into English in order to make the extensive variety of Kannada resources more accessible to the common man using Optical Character Recognition (OCR).<br>
-A trained OCR classifier is used to extract the kannada script.<br>
-Using the Unicode conversions, a UTF-8 form of the Kannada script is created. The UTF-8 code is fed as an input to the system and a phonetic mapping is sed to obtain the Transliterated output coded in C.<br>
-Finally, the transliterated output in English is displayed on a UI build using Matlab.<br><a href="https://drive.google.com/drive/folders/0B-XcLtdSiJXicV9pemkyZF9qUWM?usp=sharing"  target="_blank" >See Project</a><br>
<a href="#6" >Published Paper</a></div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">
      <b>Air Marshalling Training System</b></a>
    </h4>
  </div>
  <div id="collapse14" class="panel-collapse collapse"><i>Jan 2015 – May 2015</i></br>
    <div class="panel-body" style="text-align: left;">Implementation of a Traffic Police Hand Signal Recognition and Air Marshalling Command Recognition Gaming System for training and testing officers by tracking the joints to detect their relative position and perform feature extraction and render a text and audio based output.<br>
-Hand region Recognition and Body Joint Position detection using Microsoft Kinect v1.0 and features provided by the driver platforms such as OpenNI and Microsoft Kinect Software Development Kit(SDK) for development.<br>
-A gaming system for Air Marshalling and Traffic Control Command Recognition Gaming system with a UI displaying the movements based on detected gesture coded in C#.<br>
-Text and audio rendering of the recognized commands.<br><a href="https://drive.google.com/file/d/0B-XcLtdSiJXiNk1ESWRWNkota0k/view?usp=sharing"  target="_blank" >See Project</a><br>
<a href="#6" >Published Paper</a></div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" style="text-align: center;">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse15">
      <b>Predictive notepad</b></a>
    </h4>
  </div>
  <div id="collapse15" class="panel-collapse collapse"><i>Jul 2013 – Nov 2013</i></br>
    <div class="panel-body" style="text-align: left;">A notepad which makes use of a Dictionary of about forty one thousand words to predict words based on permuting the entered letters and frequency. The dictionary was build using Hashsets and Arraylists in Java. A graphical notepad was built that had an in built spellchecker.	</div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse16">
      <b>Assessing the Security of Node.js Platform and the security vulnerabilities of other servers</b></a>
    </h4>
  </div>
  <div id="collapse16" class="panel-collapse collapse"><i>Jul 2014 – Dec 2014</i></br>
    <div class="panel-body" style="text-align: left;">Examine the security flaws of Node.js platforms by executing attacks such as sql injection attack, Click jack attack and other security pitfalls such as Malicious Installation Scripts in Packages, Server Poisoning and other issues with Regular Expression and Resource Management.</div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse17">
      <b>Using GARCH Model to Forecast Volatility of the Stock Index</b></a>
    </h4>
  </div>
  <div id="collapse17" class="panel-collapse collapse"><i>Jan 2016 – May 2016</i></br>
    <div class="panel-body" style="text-align: left;">Time series analysis using ARCH, ARMA and GARCH to model the return series along with Ljung box testing  to predict the volatility in data over time using Akaike Information criteria metric to determine if it is a good fit in R language.</div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse18">
      <b>Cloud computing with AWS, Amazon EMR and App deployment</b></a>
    </h4>
  </div>
  <div id="collapse18" class="panel-collapse collapse"><i>Jul 2015 – Dec 2015</i></br>
    <div class="panel-body" style="text-align: left;">
    Demonstration of big data analysis using AWS, classifying web server log based on logs and extracting tweets and applying sentiment analysis using Amazon EMR and to deploy an application on Heroku to perform and analyze scaling.</div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse19">
      <b>E-CART : An E-Commerce Website</b></a>
    </h4>
  </div>
  <div id="collapse19" class="panel-collapse collapse">
    <div class="panel-body" style="text-align: left;">Implementation of an E-commerce website build using Python hosted on Django server while exploring the Software requirement specifications and creating swimlane, Dfd, class diagram and perform white box and black box testing of the same. The website also caters to the disabled with the added functionality of Read aloud.</div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse20">
      <b>3D flying kite</b></a>
    </h4>
  </div>
  <div id="collapse20" class="panel-collapse collapse">
    <div class="panel-body" style="text-align: left;">Implementation of a Basic animated Flying kite using OpenGL</div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse21">
      <b>Tree Automata</b></a>
    </h4>
  </div>
  <div id="collapse21" class="panel-collapse collapse"><i>Jul 2014 – Dec 2014</i></br>
    <div class="panel-body" style="text-align: left;">Project to understand the link between the already well-developed finite state automata over words and the finite automata over trees, by exploring the mechanism of "invocation-and-return'' to a group of finite word automata and implement the model’s potential applications, like the formalization of the W3C XML Schema.</div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse22">
      <b>Parallel Sorting algorithms</b></a>
    </h4>
  </div>
  <div id="collapse22" class="panel-collapse collapse">
    <div class="panel-body" style="text-align: left;">Implementation of Bubble Sorting using OpenMP</div>
  </div>
</div>

</div> 
</p>
</div>

<a id="3"></a>
<hr/>
<div class="container-fluid bg-2 text-center">
<h2 style="font-family: 'Slabo 27px', serif;">Academic Achievements</h2></div>
<p>
<ul style="text-align:left;width: 50%;margin: 0 auto;font-size: 120%;">
<li>National Rank of 9054 in IITJEE 2012 amongst Five hundred thousand Candidates.</li></br>
<li>National Rank of 8728 in AIEEE 2012 amongst Ten hundred thousand Candidates.</li></br>
<li>Ranked 255th in 7th National Cyber Olympiad.</li></br>
<li>Ranked 14th in Maths Talent Search Examination 2005.</li></br>
</ul> 
</p>

<a id="4"></a>
<hr/>
<div class="container-fluid bg-2 text-center">
<h2 style="font-family: 'Slabo 27px', serif;">Education  and  Test  Scores</h2></div>
<p>
<ul style="text-align:left;width: 70%;margin: 0 auto;font-size: 120%;">
<li>Bachelor of Technology (B.Tech) in Information Technology, National Institute of Technology Karnataka, Surathkal, India. (CGPA - 8.78/10.00)</li></br>
  <li>Higher Secondary Education (XIth and XIIth) from Sri Vani Education Centre Hanumavana, Bangalore (94.6%), Affiliated to CBSE.</li></br>
  <li>Secondary Education (IXth and Xth) from Kendriya Vidyalaya Malleswaram, Bangalore (9.4/10 GPA). Affiliated to CBSE</li></br>
  <li>GRE - 320/340 (Q167, V153, AWA 4.0)</li></br>
  <li>TOEFL  - 107/120 (R28 ,L28 ,S26 ,W25)</li></br>
</ul> 
</p>

<a id="5"></a>
<hr/>
<div class="container-fluid bg-2 text-center">
<h2 style="font-family: 'Slabo 27px', serif;">Publications</h2></div>
<p ><ul style="text-align:left;width: 70%;margin: 0 auto;font-size: 120%;"><li>Meghana Ashok, Swathi Rajanna, Pradnyesh Joshi <b>A Personalized Recommender System using Machine Learning based Sentiment Analysis over Social Data.</b> <i>IEEE International Students' Conference on Electrical, Electronics and Computer Sciences 2016</i>.
Paper can be found <a href="http://ieeexplore.ieee.org/document/7509354/">HERE</a>.</li>
</br><li>Anusha Prakash, Meghana Ashok, Swathi Rajanna, Sahana C <b>iKAN- A Kannada transliteration tool for assisted linguistic learning.</b> <i>Fourth International Conference on “Emerging Research in Computing, Information, Communication and Applications” (ERCICA-16)</i>.
Paper can be found <a href ="https://drive.google.com/file/d/0B-XcLtdSiJXiTHByUk9uZ1NWX014Z3YxNG1FbzhiYU5WaDJZ/view">HERE</a>.</li>
</br><li>Anusha Prakash, Swathi Rajanna, Stuti Kumar, Ashwin T S, G Ram Mohana Reddy <b>Kinect Based Real Time Gesture Recognition Tool for Air Marshallers and Traffic Policemen</b> <i>2016 IEEE Eighth International Conference on Technology for Education (T4E)</i>.
Paper can be found <a href ="http://ieeexplore.ieee.org/document/7814790/">HERE</a>.</li>
</ul></p>


<a id="6"></a>
<hr/>
<div class="container-fluid bg-2 text-center">
<h2 style="font-family: 'Slabo 27px', serif;">Extra Curricular Achievements</h2></div>
<p><ul  style="text-align:left;width: 70%;margin: 0 auto;font-size: 120%;"><li>Qualified First Grade Keyboard Examination conducted by Trinity College of London with Distinction.</li></br>
  <li>Junior sports Captain for the year 2007-2008 at Kendriya Vidyalaya Malleswaram, Bangalore, India.</li></br>
  <li>Selected as the All Rounder in the graduating class of 2012.</li></br>
  <li>Part of the 37th KVS - National Sports Meet 2006-07 for Taekwondo held in Pune, India.</li></br>
  <li>Members of the Runners up Basketball team Representing NITK Surathkal in the 49th Inter NIT 2013 held at NIT Trichy.</li></br>
  <li>Members of the Runners up Throwball team representing NITK Surathkal in the Inter NIT 2014 held at NIT Warangal.</li></br>
  <li>Part of the Social Initiative Rotutor which aims at teaching English to children in Government schools for the year 2014-2015.</li></br>
  <li>Volunteer and Content Writer for the NGO, Make a Difference 2015-2016.</li></ul></p>
</div>
</br>
</br>


            </div>
              </div>
          </div>
      </div>
  </div>
</div>


</body>

<center>
<strong>...</strong>
</center>

</html>
